/* This is my custom CSS*/

@font-face {
    font-family: "BenSen";
    src: url("../fonts/BenSen.ttf") format("opentype");
}

/*Temp*/
body {
    padding: 0px;
    font-family: "BenSen";
    line-height: 1.2em;
    font-size: 2rem;
}

header {
    background-image: url("../img/bgdBar.png");
    background-repeat: repeat-x;
}
header img {
    padding: 0.6em;
}
.container {
    padding: 0px;
    margin: 0px;
}

article {
    padding: 0.3em;
}

h4 {
    margin-top: 1.5em;
}
.row {
    padding: 0em;
    margin: 0em 0em;
}
/*.row .row {*/
/*margin-top: 0.8em;*/
/*margin-bottom: 0;*/
/*}*/
[class*="col-"] {
    margin: 0em;
    padding: 0em;
    background-color: rgba(255,255,255,0.1);
    /*border: 1px solid rgba(255,195,13,.4);*/
}

/*For List*/
ul {
    clear: both;
    margin-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    background: white;
}

li {
    clear: both;
    margin-left: 0px;
    display:block;
}

li a {
    text-decoration:none;
    list-style-type: none;
    display: block;
    margin:0px;
}

li .line1 {
    font-size: 3rem;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:8px;
    padding-bottom:0px;
    padding-left: 10px;
    font-weight: bold;
}
li .line2 {
    margin-top:4px;
    margin-bottom:0px;
    padding-left: 10px;
    padding-bottom: 8px;
    color: #444444;
}

li .bubble {
    clear:both;
    position: absolute;
    right: 12px;
    background-color: #ECEFF2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    font-size:14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
    margin-top: -50px;
    text-align: center;
}
#articleBody {
    padding-top: 0.8em;
    padding-left: 0.8em;
    padding-right: 1.6em;
}
#listWrapper {
    /*position:absolute; z-index:1;*/
    /*top:45px; bottom:48px; left:0;*/
    /*width:100%;*/
    /*background:#aaa;*/
    /*overflow:hidden;*/
}

/* ID's */
#labelTitle {
    height: 3em;
    padding-top: 0.1em;
    font-size: 1.8rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}
#textTitle {
    overflow: hidden;
    height: 1.6em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.95em;
    float: left;
    color: #000000;
}
.col-xs-5.element > .imageSub {
    margin-left: 0.2em;
}
div.imageSub { position: relative; margin-bottom: 0.2em;}
div.imageSub img { z-index: 1; }
div.imageSub div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    height: 1.5em;
    line-height: 16px;
    text-align: left;
    overflow: hidden;
}
div.imageSub div.blackbg {
    z-index: 2;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}
div.imageSub div.imgLabel {
    z-index: 3;
    color: white;
    font-size: 2rem;
}


#bannerList, #tickerNews {
    overflow: hidden;
}
#bannerList, img {
    overflow: hidden;
}
#bannerList .bnrImg{
    overflow: hidden;
    margin-bottom: 10em;
}
#tickerNews .ticker {
    overflow: hidden;
    margin-bottom: 5em;
}

.element{
    background: rgb(255, 255, 255);
    /*border:2px solid #999;*/
    /*margin-bottom:20px;*/
    /*width:200px;*/
    float:left;
    /*margin-right:20px;*/
    /*padding:10px;*/
    box-sizing:border-box;
    /*border-radius:5px;*/
}

/*.equal, .equal div[class*='col-'] {*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*flex:1 0 auto;*/
/*}*/

#wrapper {
    position: absolute;
    z-index: 1;
    height: 75% !important;
    padding-bottom: 10px !important;
    width: 100%;
    background: rgb(255,255,255);
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller {
    position:absolute; z-index:1;
    width:100%;
    padding:0;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(255,230,200,0.1);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}