body{
    width: 100%;
    height: 100%;
    font-family: 'BenSen',Calibri,Garamond;
    background-color: #FFFFFF;
}

#header{
    width: 640px;
    height: 80px;
    background-color: #dfddde;
}

#logo{
    position: relative;
    padding: 13px 13px 13px 33px;
    float: left;
}

#logo img{
    width: 318px;
    height: 51px;
}

#old_issue{
    float: right;
    padding: 13px 13px 0 0;
}

#old_issue img{
    width: 42px;
    height: 40px;
}

#latest_news {
    height: 36px;
    width: 640px;
    padding: 3px;
}

#latest_news_title{
    background-color: #000000;
    padding: 8px;
    height: 14px;
    width: 104px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    float: left;
}

#news{
    float: right;
}

#main_body{
    width: 640px;
    height: 794px;
}

#major_topic{
    float: left;
    width: 400px;
    height: 100%;
}

#minor_topic{
    float: right;
    width: 236px;
    height: 100%;
}

#fasion, #beauty, #lifestyle{
    height: 262px;
    position: relative;
}

#fasion{
    background: url("../img/fashion.png");
    background-repeat: no-repeat;
}

#beauty{
    background: url("../img/beauty.png");
    background-repeat: no-repeat;
}

#lifestyle{
    background: url("../img/lifestyle.png");
    background-repeat: no-repeat;
}

#fasion .category_title, #beauty .category_title, #lifestyle .category_title{
    width: 380px;
}

#horoscope, #photo, #video, #special_issue{
    height: 195px;
    position: relative;
}

#horoscope{
    background: url("../img/horoscope.png");
    background-repeat: no-repeat;
}

#photo{
    background: url("../img/photo.png");
    background-repeat: no-repeat;
}

#video{
    background: url("../img/video.png");
    background-repeat: no-repeat;
}

#special_issue{
    background: url("../img/special_issue.png");
    background-repeat: no-repeat;
}

#horoscope .category_title, #photo .category_title, #video .category_title, #special_issue .category_title{
    width: 216px;
}

.category_title{
    text-transform: uppercase;
    bottom: 0;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    position: absolute;
}

#ads_space{
    height: 50px;
    width: 640px;
    background-color: #dacbb4;
}