@font-face {
    font-family: "BenSen";
    src: url("../fonts/BenSen.ttf") format("opentype");
    /* Make sure you defined the correct path, which is related to
        the location of your file `my_css.css` */
}
body {
    font-family: "BenSen";
    font-size:30px;
}
/**{*/
    /*font-family:sans-serif;*/
    /*font-size: 20px;*/
    /*color: #000000;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

/*///HTML ELEMENTS///*/

ul {
    clear: both;
    margin-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    background: white;
}

li {
    clear: both;
    margin-left: 0px;
    display:block;
}

li a {
    text-decoration:none;
    display: block;
    margin:0px;
}

li .line1 {
    font-size: 22px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:8px;
    padding-bottom:0px;
    padding-left: 10px;
    font-weight: bold;
}
li .line2 {
    margin-top:4px;
    margin-bottom:0px;
    padding-left: 10px;
    padding-bottom: 8px;
    color: #444444;
}

li .bubble {
    clear:both;
    position: absolute;
    right: 12px;
    background-color: #ECEFF2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    font-size:14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
    margin-top: -50px;
    text-align: center;
}


/*///LAYOUT///*/
#master {
    height: 1118px;
    width: 720px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

    #header {
        height: 120px;
        width: 720px;
        background-color: rgb(223, 221, 222);
    }
        /*///CONTAINERS///*/
        #logo1 {
            height: 100px;
            width: 520px;
            float: left;
            padding: 10px;
        }
        #logo2 {
            height: 100px;
            width: 440px;
            float: left;
            padding: 10px;
        }
        #dateWidget {
            height: 120px;
            width: 180px;
            background-color: darkolivegreen;
            float: left;
        }
        #backButton {
            height: 120px;
            width: 80px;
            background-color: grey;
            float: left;
        }
    #titleBar {
        height: 38px;
        width: 710px;
        margin: 5px;
        font-family: sans-serif;
        font-size: 20px;
    }
        /*///CONTAINERS///*/
        #labelTitle {
            height: 30px;
            width: 140px;
            padding-top: 8px;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            text-align: center;
            float: left;
        }
        #textTitle {
            height: 30px;
            width: 78%;
            padding-top: 8px;
            padding-left: 8px;
            text-align: left;
            float:left;
        }

    #wrapper {
        position: relative;
    }

        /*///CONTAINERS///*/
        #leftCategoryDiv {
            height: 950px;
            width: 426px;
            float:left;
            margin-right: 10px;
        }
            .leftImgBox {
                height: 310px;
                width: 426px;
                background-color: aquamarine;
                margin-bottom: 10px;
                position: relative;
            }

        #rightCategoryDiv {
            height: 950px;
            width: 284px;
            float: left;
        }
            .rightImgBox {
                height: 230px;
                width: 284px;
                background-color: antiquewhite;
                margin-bottom: 10px;
                position: relative;
            }

        #leftCategoryDiv .imgLabel{
            height: 28px;
            width: 406px;
        }

        #rightCategoryDiv .imgLabel{
            height: 28px;
            width: 264px;
        }

        .imgBanner .imgLabel {
            height: 28px;
            width: 690px;
        }
    .imgBanner {
        height: 240px;
        width: 710px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        background-color: teal;
        position: relative;
    }
    .imgLabel {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(255, 255, 255);
        text-align: left;
        font-size: 25px;
        position: absolute;
        bottom: 0;
    }
    #listWrapper {
        width: 100%;
        overflow: auto;
    }

        .item-list li {
            margin-left: 10px;
            border-bottom:solid 1px #CCCCCC;
        }

        .item-list .line1 {
            padding-top: 20px;
        }


    .articleDiv {
        margin: 5px;
        font-family: san-serif;
        font-size: 22px;
        line-height: 30px;
    }

    #adBox {
        height: 82px;
        width: 720px;
        background-color: sandybrown;
        position: absolute;
        bottom: 0;
    }
